div#details-ctrl(data-ng-controller="DetailsCtrl as details")
  div(data-fx-arrow, data-direction="back")
  div.question-box.shadow
    div.question-box-label Where are you going?
    form(name="detailsForm", data-ng-submit="details.go()")
      div.row.collapse
        div.small-3.columns
          span.prefix From:
        div.small-9.columns
          input#location-start.expand(type="text", name="start", 
            placeholder="Start Point", data-ng-blur="details.blurred.start = true",
            data-ng-model="details.trip.location.start.address", required)
      div.animate(data-ng-show="detailsForm.start.$valid && details.blurred.start")
        div.row.collapse
          div.small-3.columns
            span.prefix To:
          div.small-9.columns
            input#location-end.expand(type="text", name="end",
              placeholder="End Point", data-ng-blur="details.blurred.end = true",
              data-ng-model="details.trip.location.end.address", required)
        div.animate(data-ng-show="detailsForm.end.$valid && details.blurred.end")  
          div.row.collapse
            div.small-3.columns
              span.prefix Arrival:
            div.small-9.columns
              select(data-ng-model="details.trip.arrival.specificity",
                data-ng-blur="specificityBlurred = true",
                data-ng-change="details.checkSpecificity()")
                option(value="none") Doesn't matter
                option(value="exact") Exact
                option(value="approximate") Approximate
          div.animate(data-ng-switch="details.trip.arrival.specificity")
            div.row.collapse(data-ng-switch-when="exact")
              div.small-3.columns
                span.prefix Time:
              div.small-3.columns
                select(data-ng-model="details.trip.arrival.hour")
                  each i in hours
                    option(value="#{i}")=i
              div.small-3.columns
                select(data-ng-model="details.trip.arrival.minute")
                  each i in minutes
                    option(value="#{i}") :#{i}
              div.small-3.columns
                select(data-ng-model="details.trip.arrival.ampm")
                  option(value="am") am
                  option(value="pm") pm
            div.row.collapse(data-ng-switch-when="approximate")
              div.small-3.columns
                span.prefix Time:
              div.small-3.columns
                select(data-ng-model="details.trip.arrival.hour")
                  each i in hours
                    option(value="#{i}")=i
              div.small-3.columns
                select(data-ng-model="details.trip.arrival.minute")
                  option(value="00") :00
              div.small-3.columns
                select(data-ng-model="details.trip.arrival.ampm")
                  option(value="am") am
                  option(value="pm") pm
          input.button.secondary.expand(type="submit", value="Compare Routes")
